<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/styles/mainLayout.css">

<head style="background-color: #009933">
        <title>Resource Book</title>
        <li style="display:flex; justify-content:center;">
                <form action="/resource/list/search" method="POST" autocomplete="off">
                        <input class="search" type="text" name="resourceSearchData">
                        <button type="submit" class="btn btn-info"><i class="fa fa-search"></i></button>
                </form>
        </li>
</head>

<div class="sidebar" style="margin-left: -230px;">
        <ul class="sidebar-nav">
                <li>
                        <a id="navbar-toggle">Close <i class="fa fa-bars menu-icon fa-2x" aria-hidden="true"></i></a>
                </li>
                <li>
                        <a style="text-decoration: none;" href="/resource">Add New Resource<i
                                        class="fa fa-plus menu-icon fa-2x"></i></a>
                </li>
                <li><a style="text-decoration: none;" href="/resource/list/"> Resource Book <i
                                        class="fa fa-book menu-icon fa-2x"></i></a></li><br>
                <select class="form-control" style="margin-left: -43px;"
                        onchange="this.options[this.selectedIndex].value != '__filterby' && (window.location = '/resource/list/' + this.options[this.selectedIndex].value);">
                        <option value="__filterby" selected>Filter by...</option>
                        <option value="">No Filter</option>
                        {{typesDropdown}}
                </select>
        </ul>
</div>

<body class="bg-info" style="background-color:#45b249 !important;padding:0 20px 20px 20px; ">
        <hr>
        <div class="row">
                <div class="col-md-10 offset-md-1"
                        style="background-color: #fafafa;margin-top: 25px;padding:10px; border-radius:20px; box-shadow: -1px 0px 5px 1px green;">
                        {{{body}}}
                </div>
        </div>
</body>

{{!-- Script to control the sidebar--}}
<script>
        var state = "minimized";
        //Check if navbar is expanded or minimized and handle
        onload = $('#navbar-toggle').click(function () {
                if (state == "expanded") {
                        $('.sidebar').css('margin-left', '-230px');
                        state = "minimized";
                } else {
                        if (state == "minimized") {
                                $('.sidebar').css('margin-left', '-20px');
                                $('.li a').css('color', 'black');
                                state = "expanded";
                        }
                }
        }
        )
</script>

</html>