.sortableHeader:hover {
    cursor:pointer;
    background:#AAA;
}

table
{
    width: 100%;
    word-wrap: break-word;
    overflow: hidden;
}

.extraInfo {
  visibility: hidden;
  width: 200px;
  background-color: rgb(59, 175, 146);
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 10px 10px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

p:hover .extraInfo {
  visibility: visible;
}
