.sortableHeader:hover {
  cursor: pointer;
  background: #aaa;
}

table {
  table-layout: fixed;
  word-wrap: normal;
}

.extraInfo {
  display: none;
}

p:hover .extraInfo {
  transition-timing-function: linear;
  display: inline-block;
}

.align {
  position: relative;
  width: 17%;
  max-width: 20%;
  min-width: 15%;
}
