body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  padding:0;
  box-sizing: border-box;
  width:100vw;
  height:100vh;
  background-color: hsla(0, 0%, 97%, 1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.editButton:hover{
opacity: 1;
}
.editButton{
  position:absolute;
  right:-100px;
  top:20px;
  border:none;
  width:90px;
  height:35px;
  border-radius:5px;
  cursor:pointer;
  background: lightgrey;
  opacity: 0;
}
